:root {
    --light-gray: rgb(240, 240, 240);
    --gray: rgb(215, 215, 215);
    --dark-gray: rgb(190, 190, 190);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.5rem;
    width: fit-content;
    height: 100%;
    background-color: var(--light-gray);
    padding: 1rem;
}


#lists {
    height: 100%;
    overflow:auto;
    scrollbar-color: rgb(168, 216, 196) var(--light-gray);
    scrollbar-width: thin;
    padding-right: 0.5rem;
}

#add-btn {
    position: relative;
    width: 100%;
}

#add-btn > button {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
}

#add-menu {
    position: absolute;
    bottom: 36px;
    left: 36px;
    display: none;
    flex-direction: column;
    width: max-content;
    background-color: var(--gray);
}

#add-menu button {
    text-align: left;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

#add-menu button:hover {
    background-color: var(--dark-gray);
}